.canvas {
    position: relative;
  	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin:auto;
    border:1px solid #000000;
}
.area {
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;	
}

.remove {
	background: #C76868;
    color: #FFF;
    font-weight: bold;
    font-size: 21px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 4px 9px;
    vertical-align: top;
    line-height: 100%;   
    margin-right: -27px;
}

fieldset{
    background: #FCFCFC;
    padding: 16px;
    border: 1px solid #D5D5D5;
}
.addfields{
    margin: 10px 0;
}